# Ignore everything in html directory except my plugin directory
/wordpress/html/*
!/wordpress/html/wp-content/
/wordpress/html/wp-content/*
!/wordpress/html/wp-content/plugins/
/wordpress/html/wp-content/plugins/*
!/wordpress/html/wp-content/plugins/plugin-name/
!/wordpress/html/wp-content/plugins/hskwakr-practice-youtube/

# Ignore config file for formatter
.php-cs-fixer.cache
